Repository nigelperis/pompeichurch-website, pull requests merged in 2025-05, with the labels that each got.

#191 Feat: Backend Support for Obituary Forms
  astro-frontend/.env.example
  astro-frontend/Dockerfile
  astro-frontend/src/components/obituary-form/ObituaryForm.astro
  astro-frontend/src/components/obituary-form/ObituaryPreview.tsx
  astro-frontend/src/components/sections/events/events-list.astro
  astro-frontend/src/components/sections/landing-page/church-events-section.astro
  astro-frontend/src/components/sections/landing-page/parish-priest-speaks-section.astro
  astro-frontend/src/components/sections/landing-page/upcoming-events-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro
  astro-frontend/src/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro
  astro-frontend/src/components/ui/network-image.astro
  astro-frontend/src/components/ui/network-video.astro
  astro-frontend/src/constants/strapi-endpoints.ts
  astro-frontend/src/helpers/get-association-picture.ts
  astro-frontend/src/helpers/send-obituary-mail.ts
  astro-frontend/src/helpers/strapi-fetch.ts
  astro-frontend/src/helpers/strapi-post.ts
  astro-frontend/src/pages/events/[...slug].astro
  astro-frontend/src/pages/kok/events/[...slug].astro
  astro-frontend/src/pages/kok/obituary.astro
  astro-frontend/src/pages/kok/submit-obituary.astro
  astro-frontend/src/pages/obituary.astro
  astro-frontend/src/pages/submit-obituary.astro
  strapi-backend/package.json
  strapi-backend/pnpm-lock.yaml
  strapi-backend/src/api/send-review/controllers/send-review.ts
  strapi-backend/src/api/send-review/routes/send-review.ts
  strapi-backend/src/api/send-review/services/send-review.ts
  strapi-backend/src/constants.ts
  strapi-backend/src/env.d.ts
Labels: backend

#194 Feat/ Add sitemap
  astro-frontend/astro.config.mjs
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  astro-frontend/public/robots.txt
  astro-frontend/public/sitemap.xml
  astro-frontend/src/layouts/layout.astro
Labels: seo

#197 chore(FE): migrate from pnpm to bun for faster package management
  .gitignore
  CONTRIBUTING.md
  README.md
  astro-frontend/.gitignore
  astro-frontend/.vscode/settings.json
  astro-frontend/Dockerfile
  astro-frontend/README.md
  astro-frontend/bun.lock
  astro-frontend/package.json
  astro-frontend/pnpm-lock.yaml
  astro-frontend/src/components/event-card.astro
  astro-frontend/src/components/language-switcher.astro
  astro-frontend/src/components/pagination.astro
  astro-frontend/src/components/pull-down.astro
  astro-frontend/src/components/sections/landing-page/obituary-section.astro
  astro-frontend/src/components/sections/obituary/obituary-list.astro
  astro-frontend/src/components/ui/embla-carousel.astro
  astro-frontend/src/components/ui/hoverable-link.astro
  astro-frontend/src/components/ui/scroll-progress.astro
  astro-frontend/src/components/ui/share-link.astro
  astro-frontend/src/scripts/embla-carousel.ts
  astro-frontend/src/scripts/language-switcher.ts
  astro-frontend/src/scripts/pull-down.ts
  astro-frontend/src/scripts/scroll-progress.ts
  astro-frontend/src/scripts/share-link.ts
  astro-frontend/src/styles/pull-down.css
Labels: enhancement, frontend
